.card, .c-body{
    margin-bottom: var(--content-spacer);
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    transition: all 0.5s ease;
    -webkit-filter: brightness(70%) blur(0px); /* Chrome, Safari, Opera */
    filter: brightness(70%) blur(0px);
    transform: scale(1);
}

.card:hover > *:not(.card-img-overlay) {
    transition: all 0.5s ease;
    -webkit-filter: brightness(70%) blur(2px); /* Chrome, Safari, Opera */
    filter: brightness(70%) blur(2px);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card-img-top {
        height: 50vw;
    }
}

.card-text-overlay {
    color: white;
}
