.datetimepicker-input .input-group-append {
    z-index: -1;
}

.select2 {
    width:100%!important;
    text-align: center;
}

.content-container {
    margin-top: var(--content-spacer);
}

input {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}

.fc-left .fc-button-group {
    /*justify-content: flex-start;*/
    float: left;
}
.fc-center h2 {
    text-align: center;
}
.fc-right .fc-button-group {
    /*justify-content: flex-end;*/
    float: right;
}

.progress-bar {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#calendar {
    background-color: white;
}

.fc-toolbar {
    background-color: white;
    padding: 1vh 0;
}

.divider {
    width: 100%;
    padding: 1vh 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

.card-header {
    background-color: white;
}

.card-header p, .card-header i {
    color: black;
}

.card-header i {
    padding-top: 0.25rem;
}

#descriptionContainer {
    min-height: 30vh;
    padding: 5vh 0;
    color: white;
    background-color: var(--primary-color);
}

#descriptionContainer .media {
    background-color: var(--primary-color);
    margin: 0;
    width: 100%;
    height: 100%;
}

#descriptionContainer img {
    margin-right: 5vw;
    object-fit: cover;
}

#descriptionTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: unset;
}

/*#page_title h1 {*/
/*    padding: 3vh 0;*/
/*    padding-bottom: 0;*/
/*    line-height: 10vh;*/
/*    text-align: center;*/
/*}*/
select.filter{
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #2C3E50 !important;
    color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
    padding-right: 0.3rem !important;
}

.media img {
    width: 100%;
    height: 35vh;
    margin: 0;
    object-fit: cover;
}

.media-body {
    width: 100%;
    height: inherit;
    margin: 0;
}

@media (max-width: 768px) {
    #descriptionTitle {
        margin: var(--content-spacer);
    }

    #description {
        text-align: center;
    }

    .content-container {
        margin-top: 0;
        padding: var(--half-content-spacer);
    }

    #descriptionTextbox {
        text-align: center;  /* Description box aligns left on medium-up, aligns center below medium */
    }

    .fc-left, .fc-center h2, .fc-right {
        display: flex;
        justify-content: center;
        float: none;
    }
}
