{% extends "account/account_layout.html"%}

{% block page_content %}
<meta id="pd" data-name="pd" data-other="{{payment_details}}">
<div>
    <form id="card_details" method="post">
        <div class="form-group row no-gutters">
            <label for="card_number" class="col-12 col-md-3 col-lg-2">Card Number: </label>
            <input type="tel" id="card_number" class="form-control-plaintext col-12 col-md-4" name="card_number" pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}"
            oninvalid="setCustomValidity('Invalid card number!')"placeholder="0000 0000 0000 0000" value="{{ payment_details["card_number"] }}" readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="start_date" class="col-12 col-md-3 col-lg-2">Start Date:</label>
            <input type="text" id="start_date" class="form-control-plaintext col-12 col-md-4" name="start_date" pattern="^(([1][0-2]|[0][1-9])/([0-9][0-9])){1}$"
            placeholder="MM/YY" value="{{ payment_details["start_date"] }}" readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="expiration_date" class="col-12 col-md-3 col-lg-2">Expiration Date:</label>
            <input type="text" id="expiration_date" class="form-control-plaintext col-12 col-md-4" name="expiration_date" pattern="^(([1][0-2]|[0][1-9])/([0-9][0-9])){1}$"
                   placeholder="MM/YY" value="{{ payment_details["expiration_date"] }}"readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="street_and_number" class="col-12 col-md-3 col-lg-2">Street and Number: </label>
            <input type="text" id="street_and_number" class="form-control-plaintext col-12 col-md-4" name="street_and_number"
            value="{{ payment_details["street_and_number"] }}" readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="town" class="col-12 col-md-3 col-lg-2">Town:</label>
            <input type="text" id="town" class="form-control-plaintext col-12 col-md-4" name="town"
            value="{{ payment_details["town"] }}" readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="city" class="col-12 col-md-3 col-lg-2">City:</label>
            <input type="text" id="city" class="form-control-plaintext col-12 col-md-4" name="city" value="{{ payment_details["city"]}}" readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <label for="postcode" class="col-12 col-md-3 col-lg-2">Postcode:</label>
            <input type="text" id="postcode" class="form-control-plaintext col-12 col-md-4" name="postcode" value="{{ payment_details["postcode"] }}"readonly="readonly">
        </div>
        <div class="form-group row no-gutters">
            <input type="hidden" id="delete" name="delete" value="False">
            <input type="submit" id="submit_btn" value="Save Changes" class="btn btn-primary col-4 col-md-2" required>
            <input type="button" id="cancel_btn" onclick="edit()" value="Cancel" class="btn btn-secondary col-4 col-md-2" required>
            <input type="button" id="edit_btn" onclick="edit()" value={% if payment_details == None %}"Add Card"{% else %}"Edit Card"{% endif %} class="btn btn-primary col-4 col-md-2" required>
            {% if payment_details is not none %}
            <input type="button" id="delete_btn" onclick="delete_card()" value="Delete Card" class="btn btn-danger col-4 col-md-2">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block account_additional_js %}
<script>
    let edit_state = false;

    function delete_card(){
        document.getElementById("delete").setAttribute("value","True");
        document.getElementById("card_details").submit();
    }

    function edit(){
        let i;
        const inputs = document.getElementsByTagName("input");
        const submit = document.getElementById("submit_btn");
        const cancel = document.getElementById("cancel_btn");
        const del = document.getElementById("delete_btn");
        const edit = document.getElementById("edit_btn");

        if(edit_state){ //switch editing off
            for (i = 0; i < inputs.length; i++) {
                inputs[i].classList.remove("form-control");
                inputs[i].classList.add("form-control-plaintext");
                inputs[i].setAttribute("readonly","readonly");
            }

            submit.style.display = "none";
            cancel.style.display = "none";
            if (del != null) {
                del.style.display = "block";
            }
            edit.style.display = "block";

            edit_state = false;
        }
        else { //switch editing on
            for (i = 0; i < inputs.length; i++) {
                inputs[i].classList.remove("form-control-plaintext");
                inputs[i].classList.add("form-control");
                inputs[i].removeAttribute("readonly");
            }

            submit.style.display = "block";
            cancel.style.display = "block";
            edit.style.display = "none";

            if (del != null){
                del.style.display = "none";
            }
            edit_state = true;
        }
    }
</script>
{% endblock %}