{% extends "account/account_layout.html"%}

{% block accounts_additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/receipts.css') }}">
{% endblock %}
{% block page_content %}
        <form id="qr_search" action="/transactions/receipts/check_receipt_input" method="post" enctype = "multipart/form-data">
            <div class="form-group row no-gutters">
                <div class="col-6 col-md-4 col-xl-2">
                    <input type="button" class="btn btn-secondary col-12" id="file_upload" value="Upload QR Code" onclick="document.getElementById('file').click()"/>
                    <input type="file" style="display:none;" id="file" name="file"/>
                </div>
            </div>
        </form>
    <div>
        <table class="table table-striped table-responsive-lg w-100" id="data-receipts">
            <thead class="table-header">
                <tr>
                    <th scope="col">Receipt ID</th>
                    <th scope="col">Receipt Contents</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">View Receipt</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in returned_receipts %}
                    <tr>
                        <td>{{receipt.receipt_id}}</td>
                        {% if receipt.membership %}
                        <td>Membership</td>
                        {% else %}
                        <td>Activities</td>
                        {% endif %}
                        <td>{{receipt.creation_time.strftime("%d/%m/%y")}}</td>
                        <td>£{{receipt.total_cost}}</td>
                        <td><a class="btn btn-primary" href="{{url_for('transaction.e_m_get', receipt_id=receipt.receipt_id)}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block account_additional_js %}
<script>
    $(document).ready(function() {
        $('#data-receipts').DataTable( {
            "order": [[ 0, "desc" ]],
            "lengthMenu": [ 10, 20, 50 ],
            "dom" : '<"row no-gutters"<"col-12 col-md-6"l><"col-12 col-md-6"f>>t<"col-12"p>',
            "scrollX": true,
        });
    });

    document.getElementById("file").onchange = function() {
        document.getElementById("qr_search").submit();
    };
</script>
{% endblock %}