{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index/index.css') }}">
{% endblock %}

{% block title %}
The Vertex-Index!
{% endblock %}

{% block main_content %}
<div id="carousel"class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active"><img src="/static/imgs/woman_dumbbells.jpg" alt="Woman using dumbbells."></div>
        <div class="carousel-item"><img src="/static/imgs/barbell.jpg" alt="Man using barbell."></div>
        <div class="carousel-item"><img src="/static/imgs/treadmill.jpg" alt="Man using treadmill."></div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container">
    <div id="introduction" class="content-container">
        <h1>The Vertex Sports Center</h1>
        <p class="intro-text">
        The Vertex is a large sports centre based in north-west Leeds.
        Founded in 2000 to meet the needs of Leeds' ever-growing population the centre began with a medium
        sized gym, pool and outside grounds and has since undergone multiple refurbishments and extensions.
        </p>
        <a href="{{ url_for('info.about_func')}}">
            <div class="more_about">
                <h2 class="self-align-center">More About The Vertex</h2>
            </div>
        </a>
        <div class="spacer"></div>
        <div class="d-none d-md-block">
            <div class="media">
                <div class="media-body align-self-center">
                    <h2 class="media-title">Activities</h2>
                    <p>
                    The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                    instructor and coach lead classes, private court renting sessions, to team events.
                    </p>
                    <a href="/activities/types">
                        <div class="more_about">
                            <h2 class="self-align-center">More About Activities</h2>
                        </div>
                    </a>
                </div>
                <img class="align-self-center" src="../static/imgs/activities-img/general fitness.jpg">
            </div>
            <div class="media">
                <img class="align-self-center" src="../static/imgs/instructor.jpg">
                <div class="media-body align-self-center">
                    <h2 class="media-title">Memberships</h2>
                    <p>
                    The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                    instructor and coach lead classes, private court renting sessions, to team events.
                    </p>
                    <a href="/info/memberships">
                        <div class="more_about">
                            <h2 class="self-align-center">More About Memberships</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="media">
                <div class="media-body align-self-center">
                    <h2 class="media-title">Facilities</h2>
                    <p>
                    The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                    instructor and coach lead classes, private court renting sessions, to team events.
                    </p>
                    <a href="/info/facilities">
                        <div class="more_about">
                            <h2 class="self-align-center">More About Facilities</h2>
                        </div>
                    </a>
                </div>
                <img class="align-self-center" src="../static/imgs/the-vertex.jpg">
            </div>
        </div>
        <div class="d-block d-md-none">
            <div class="card-deck">
                <div class="card">
                    <h2 class="card-header">Activities</h2>
                    <img class="card-img-top" src="../static/imgs/activities-img/general fitness.jpg">
                    <div class="card-body">
                        <p>
                            The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                            instructor and coach lead classes, private court renting sessions, to team events.
                        </p>
                        <a href="/activities/types">
                            <div class="more_about">
                                <h2 class="self-align-center">More About Activities</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Memberships</h2>
                    <img class="card-img-top" src="../static/imgs/instructor.jpg">
                    <div class="card-body">
                        <p>
                            The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                            instructor and coach lead classes, private court renting sessions, to team events.
                        </p>
                        <a href="/info/memberships">
                            <div class="more_about">
                                <h2 class="self-align-center">More About Memberships</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Facilities</h2>
                    <img class="card-img-top" src="../static/imgs/the-vertex.jpg">
                    <div class="card-body">
                        <p>
                            The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
                            instructor and coach lead classes, private court renting sessions, to team events.
                        </p>
                        <a href="/info/facilities">
                            <div class="more_about" id="more_about_facilities">
                                <h2 class="self-align-center">More About Facilities</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div id="more_visit">
            {% if date_time > 06 and date_time < 20 %}
            <h2>We're Open Until 10pm</h2>
            {% else %}
            <h2>We're Open Again at 6am</h2>
            {% endif %}
            <img src="../static/imgs/logo/vertex_logo.png">
            <a href="{{ url_for('info.about_func')}}">
                <div class="more_about" id="visit_the_vertex">
                    <h2 class="self-align-center">Visit The Vertex</h2>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

