p {
    margin-bottom: 0;
}

h2 {
    margin-bottom: var(--half-content-spacer);
}

h3 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: var(--half-content-spacer);
}

.spacer {
    margin-top: var(--content-spacer);
    margin-bottom: var(--content-spacer);
}

#fixed-container {
    position: sticky;
    top: 7vh;
}

#googleMap {
    margin-bottom: var(--content-spacer);
}

#faq h3{
    margin: 1vh 0 1.8vh 0;
    padding: 0.5vh;
    border-bottom: solid 0.1rem #ebebeb;
}

.faq-q {
    font-weight: bold;
}

.faq-a {
    margin-bottom: var(--half-content-spacer);
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .faq-a {
        margin-left: var(--half-content-spacer);
    }
}

.table {
    margin-top: var(--half-content-spacer);
}

#contact-container {
    margin: 3vh 0 3vh 0;
}

#contact-container .col-md-4, #contact-container .col-md-8 {
    padding-left: 0;
    padding-right: 0;
}

.contact-title {
    font-weight: bold;
}

.content-container .table th, .content-container .table tr  {
    width: 30%;
}

.content-container .table th:first-of-type{
    width: 50%;
}

.content-container .table td+td, .content-container .table th+th {
    text-align: right;
}

#contact-us .col-12 {
    padding: 0 !important;
}