.media {
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
}

.media-body {
    display: table-cell;
}

.media img {
    object-fit: cover;
}

.card {
    padding: 0;
    margin-bottom: var(--content-spacer) !important;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    /*background-color: var(--medium-color);*/
}

.card-header {
    border: none;
    background-color: var(--light-color);
    text-align: center;
}

.card-img-top {
    width: 90%;
    height: 20vh;
    margin: auto;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-body p {
    margin: 0;
}

.btn {
    padding: 2vh;
    font-size: 1rem;
    color: white;
    margin: auto;
    margin-top: var(--half-content-spacer);
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 0;
}

.media .btn {
    position: absolute;
    width: 20vw;
    bottom: calc(var(--content-spacer) + 2vh);
}

@media (max-width: 768px) {
    .intro-text {
        width: 100%;
    }

    .btn {
        width: 90%;
        margin: auto;
        bottom: 0;
    }

    .card .btn {
        margin: auto;
        margin-top: var(--half-content-spacer);
    }
}