{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info/about.css') }}">
{% endblock %}

{% block title %}
About the Vertex
{% endblock %}

{% block page_description %}
<p>
    If you want to know the history of the Vertex, answers to some of the most frequently asked questions, where you can
    find us or contact us then you will likely find all of those answers here. If you need more information
    feel free to contact our team who are always happy to help.
</p>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <!--  About Navigational Sidebar  -->
        <div class="d-none d-md-block col-md-4 col-lg-3" id="sidebar">
            <div id="fixed-container">
                <ul class="list-group content-container">
                    <a href="#about-us" class="list-group-item list-group-item-action">About the Vertex</a>
                    <a href="#opening-hours" class="list-group-item list-group-item-action">Opening Hours</a>
                    <a href="#find-us" class="list-group-item list-group-item-action">How to Find Us</a>
                    <a href="#faq" class="list-group-item list-group-item-action">Frequently Asked Questions</a>
                    <a href="#renting" class="list-group-item list-group-item-action">Facilities Private Hire</a>
                    <a href="#contact-us" class="list-group-item list-group-item-action">Contact Us</a>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 content-container">
            <div class="" id="page-content">
                <!--  About Page Content  -->
                <div id="about-us">
                    <h2>About the Vertex</h2>
                    <p>
                        The Vertex is a large sports centre based in north-west Leeds.
                        Founded in 2000 to meet the needs of Leeds' ever-growing population the centre began with a medium
                        sized gym, pool and outside grounds and has since undergone multiple refurbishments and extensions.
                        The Vertex is now home to a state of the art gym, olympic sized swimming pool, large studio, two
                        sports halls, a tennis court, a climbing wall, and an extensive outside playing field making the
                        Vertex one of the best equipped sports centres in the north of England.
                    </p>
                </div>
                <div class="spacer"></div>
                <div id="opening-hours">
                    <h2>Opening Hours</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Weekdays</h3>
                            <ol>
                                <li>Monday:    6am to 10pm</li>
                                <li>Tuesday:   6am to 10pm</li>
                                <li>Wednesday: 6am to 10pm</li>
                                <li>Thursday:  6am to 10pm</li>
                                <li>Friday:    6am to 10pm</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <h3>Weekend</h3>
                            <ol>
                                <li>Saturday: 6am to 10pm</li>
                                <li>Sunday:   6am to 10pm</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="find-us">
                    <h2>How to Find the Vertex</h2>
                    <div class="row">
                        <div class="col-md-3" id="find-us-address">
                            <h3>Address</h3>
                            <ol>
                                <li>The Vertex Sports Centre</li>
                                <li>Willow Terrace Road</li>
                                <li>Leeds</li>
                                <li>LS2 9JT</li>
                            </ol>
                        </div>
                        <div class="col-md-9" id="find-us-info">
                            <h3>Accessibility & Parking</h3>
                            <p>
                                Located just off the A660, next to the University of Leeds, the Vertex Sports Centre is
                                accessible by car, bicycle and foot.
                                We have our own free to use car park and are in close proximity to the university
                                car park.
                                There are a number of bike locking stations around the sports centre and more can be found
                                around the university campus.
                            </p>
                        </div>
                    </div>
                    <div id="google-map">
                        <div id="googleMap" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="faq">
                    <h2>Frequently Asked Questions</h2>
                    <h3>Membership/Using the Vertex</h3>
                    <p class="faq-q">How do I join the Vertex?</p>
                    <p class="faq-a">You can join the Vertex by purchasing a membership via the membersip page or
                    in-person by asking at the reception.</p>
                    <p class="faq-q">Is there a joining fee?</p>
                    <p class="faq-a">No, you can become a member at the Vertex anytime with no joining fee.</p>
                    <p class="faq-q">Is there an age limit?</p>
                    <p class="faq-a">The Vertex can be attended by individuals of all ages however those
                    under the age of 16 must be accompanied by an adult.</p>
                    <p class="faq-q">How do I cancel my membership?</p>
                    <p class="faq-a">You can cancel your membership via the 'My Account' page under 'Manage Membership' or
                    in-person by asking at the reception.</p>
                    <h3>Activities/Services</h3>
                    <p class="faq-q">Do I have to be a member to access activities?</p>
                    <p class="faq-a">You don't have to have a membership to attend activities. You can create a free account
                        by signing up at the register page and then you are free to book activities on the activities page.</p>
                    <p class="faq-q">Do you offer personal training?</p>
                    <p class="faq-a">The Vertex does not offer personal training however our staff are always on hand to
                        provide an induction, spot you when you're using equipment or to offer advice.</p>
                    <h3>Facilities</h3>
                    <p class="faq-q">Do you have changing rooms and showers?</p>
                    <p class="faq-a">We have gendered, gender-neutral and disabled changing facilities and showers
                    throughout the sports centre.</p>
                    <p class="faq-q">Are there lockers?</p>
                    <p class="faq-a">Lookers are provided in the changing rooms and require a £1 coin or a token which
                    can be borrowed from reception.</p>
                    <p class="faq-q">Do you provide water and paper towels?</p>
                    <p class="faq-a">Water and paper towel stations are available in our gym facilities.</p>
                </div>
                <div class="spacer"></div>
                <div id="renting">
                    <h2>Facilities Private Hire</h2>
                    <p>
                        Our facilities are available for a range of private hire events including, but not limited to,
                        league, club and school hire as well as parties and other private event hire. To rent our facilities
                        either contact us via our email with the subject line 'Private Hire' or speak to a member
                        of our reception team in person or via phone. Contact details below.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th class="col">Facility</th>
                                <th class="col">Capacity</th>
                                <th class="col">Price</th>
                            </thead>
                            <tbody>
                                {% for facility_type in facility_types %}
                                {% if facility_type.base_facility_price > 0 %}
                                 <tr>
                                    <td>{{ facility_type.facility_type_name.title() }}</td>
                                    <td>{{ facility_type.max_capacity }}</td>
                                    <td>£{{ facility_type.base_facility_price }}+</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="contact-us">
                    <h2>Contact the Vertex</h2>
                    <div class="row" id="contact-container">
                        <div class="col-12 col-md-4">
                            <ol>
                                <li><span class="contact-title">Email:</span> enquires@vertexleeds.com</li>
                                <li><span class="contact-title">Phone:</span> 0113 343 5055</li>
                            </ol>
                        </div>
                        <div class="col-12 offset-md-1 col-md-7">
                            <p>
                                You can call us at the provided phone number during our operating hours, as given above, or
                                you can email us anytime at the provided email and we will get back to you as soon as possible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    function myMap() {
      var VertexPosit = new google.maps.LatLng(53.804217, -1.553213);
      var Canvas = document.getElementById("googleMap");
      var Options = {
          center: VertexPosit,
          zoom: 14,
          zoomControl: true,
          disableDefaultUI: true,
          streetViewControl: true
      };
      var map = new google.maps.Map(Canvas, Options);
      var marker = new google.maps.Marker({position:VertexPosit});
      marker.setMap(map); /*Marker is set to the map*/
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD72JPJnUXswP3-mH6S4o78XTUYVrsW2ig&callback=myMap"></script>

{% endblock %}
