{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info/facilities.css') }}">
{% endblock %}

{% block title %}
Facilities
{% endblock %}

{% block page_description %}
<p>
    Built in 2000 our facilities have undergone a number of refurbishments and additions and are now some of the best
    in the north west of England.
</p>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="d-none d-md-block">
        {% for facility_type in facility_types %}
            <div class="media">
                {% if facility_type.facility_type_id % 2 == 1 %}
                <img src="/static/imgs/facility-img/facility{{ facility_type.facility_type_id }}.jpg" class="align-self-center" alt="Illustration of the facility &ldquo;{{ facility_type.facility_type_name }}&rdquo;">
                {% endif %}
                <div class="media-body align-self-center">
                    <h2 class="media-title">{{ facility_type.facility_type_name.title() }}</h2>
                    <p>
                        {{ facility_type.description }}
                    </p>
                    <form action="{{ url_for('activities.view_booking') + '?filter_facility_type_id=' + (facility_type.facility_type_id | string) }}" method="post">
                        <button type="submit" name="amount" class="btn btn-primary">
                            View Timetable
                        </button>
                    </form>
                </div>
                {% if facility_type.facility_type_id % 2 == 0 %}
                <img src="/static/imgs/facility-img/facility{{ facility_type.facility_type_id }}.jpg" class="align-self-center" alt="Illustration of the facility &ldquo;{{ facility_type.facility_type_name }}&rdquo;">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="d-block d-md-none">
        <div class="card-deck">
            {% for facility_type in facility_types %}
                <div class="card">
                    <h2 class="card-header">{{ facility_type.facility_type_name.title() }}</h2>
                    <img class="card-img-top" src="/static/imgs/facility-img/facility{{ facility_type.facility_type_id }}.jpg" class="card-img-top" alt="Illustration of the facility &ldquo;{{ facility_type.facility_type_name }}&rdquo;">
                    <div class="card-body">
                        <p class="card-text">
                            {{ facility_type.description }}
                            <br>
                            Capacity: {{ facility_type.max_capacity }}
                        </p>
                        <form action="{{ url_for('activities.view_booking') + '?filter_facility_type_id=' + (facility_type.facility_type_id | string) }}" method="post">
                            <button type="submit" name="amount" class="btn btn-primary">
                                See Timetable
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
