{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info/memberships.css') }}">
{% endblock %}

{% block title %}
The Vertex memberships!
{% endblock %}

{% block page_description %}
<p>
    We offer a range of membership options for access to our fitness suite and our extensive range of activities.
    Whether you're interested in taking a weekly dance class or achieving a new personal best you're
    welcome at the Vertex.
</p>
{% endblock %}

{% block main_content %}

<div class="container">
    <div class="card-group">
        <div class="row">
            <!-- Columns of membership types -->
            <!-- Free -->
            <div class="col-xl-4">
                <div id="book" class="card text-center">
                    <div class="unslant">
                        <div class="card-body">
                            <h3 class="card-title">Free<br>Account</h3>
                            <div class="card-block">
                                <p class="card-text">
                                    By creating an account with us you gain access to all of our advertised activities
                                    from swimming classes, climbing sessions to rugby team events.
                                </p>
                                <h4 class="price">Free</h4>
                                {% if User is not defined or User is none %}
                                <!-- User is not logged in. Prompt register page -->
                                <a href="/account/register" class="btn btn-secondary">Register</a>
                                {% elif User is defined and User is not none and User.__mapper_args__ ['polymorphic_identity'] == "Customer" %}
                                <!-- Redirect to book classes for Customer -->
                                <a href="/activities/types" class="btn btn-secondary">Book a session</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Premium -->
            <div class="col-xl-4">
                <div id="premium" class="card text-center">
                    <div class="unslant">
                        <div class="card-body">
                            <h3 class="card-title">Premium Membership</h3>
                            <div class="card-block">
                                <p class="card-text">
                                    Premium members get access to our state of the art 100-station fitness suite and
                                    free unlimited access to all of our activities, any time, any day.
                                </p>
                                <h4 class="price">£30</h4>
                                <form method="post" action="/info/memberships/buy">
                                    <input type="submit" class="btn btn-primary" value="Purchase">
                                    <input type="hidden" name="buy_membership" value={{ premium_id }}>
                                    <input type="hidden" name="total_price" value="{{ premium_price }}">
                                    <select name="membership_duration" class="custom-select">
                                      <option value="1" selected>1 Month</option>
                                      <option value="3">3 Months</option>
                                      <option value="6">6 Months</option>
                                      <option value="12">12 Months</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Standard -->
                <div class="col-xl-4">
                    <div id="standard" class="card text-center">
                        <div class="unslant">
                            <div class="card-body">
                                <h3 class="card-title">Standard Membership</h3>
                                <div class="card-block">
                                    <p class="card-text">
                                        Standard members get access to our state of the art 100-station fitness suite and
                                        a 30% discount on all of our activities, any time, any day.
                                    </p>
                                    <h4 class="price">£20</h4>
                                    <form method="post" action="/info/memberships/buy">
                                        <input type="submit" class="btn btn-secondary" value="Purchase">
                                        <input type="hidden" name="buy_membership" value={{ standard_id }}>
                                        <input type="hidden" name="total_price" value="{{ standard_price }}">
                                        <select name="membership_duration" class="custom-select">
                                          <option value="1" selected>1 Month</option>
                                          <option value="3">3 Month</option>
                                          <option value="6">6 Month</option>
                                          <option value="12">12 Month</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}