{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activities/booking.css') }}">

<!-- FullCalender Stylesheet. Used for scheduler -->
<link href='https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css' rel='stylesheet' />

<!-- multi selection box -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block main_content %}
{% include "activities/booking_modal.html" %}

<!-- Header TODO: Add -->

{% for session_type in session_types %}
    <!-- activity info -->
    <div id="descriptionContainer" class="fluid-container">
        <div id="descriptionInfo" class="container">
            <div class="media row no-gutters">
                <img class="col-12 col-md-5" src="/static/imgs/activities-img/{{ session_type.session_type_name | replace(" ", "-") }}-description.jpg" alt="Illustration of {{ session_type.name }}">
                <div id="descriptionTextbox" class="align-self-center media-body col-12 col-md-7"> <!-- makes the content vertically aligned -->
                    <h1 id="descriptionTitle">{{ session_type.session_type_name.title() }}</h1>
                    <p id="description">{{ session_type.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- bulk booking -->
<!--    <div id="bulk-buy" class="container accordion">-->
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <button class="btn btn-link" id="bulk-top" data-toggle="collapse" data-target="#bulk-collapse" aria-expanded="false" aria-controls="collapseExample">-->
<!--                    <p>Bulk Buy</p>-->
<!--                    <i class="fa fa-chevron-down pull-right"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="collapse" id="bulk-collapse">-->
<!--                <div class="card-body">-->
<!--                    <div id="bulk-bottom" class="row no-gutters">-->
<!--                        <p class="col-12">-->
<!--                            You can save up to 30% by purchasing multiple classes of the same type at once, try it now by adding more-->
<!--                            than 3 {{ activity_type.name }} sessions to your basket.-->
<!--                        </p>-->
<!--                        <div class="divider"></div>-->
<!--                        <p class="col-6">{{ session_type.session_type_name.title() }} Sessions Booked:</p>-->
<!--                        <p class="col-6 text-right">Discount: </p>-->
<!--                        <div class="progress col-12">-->
<!--                          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{% endfor %}

<div class="container">
    <!-- Timetable -->
    <div class="content-container">
        <h6>Book for a session:</h6>
        <!-- Facility Filter -->
        <div class="input-group">
            <select class="form-control" id="facilityFilter" multiple="multiple">
                {% for facility in facilities %}
                    <option value="{{ facility.facility_id }}">{{ facility.name.title() }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Calendar / Timetable -->
        <div id="calendar"></div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script src='https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


<script>

    // ----- Booking Calendars ----- //
    var queryHistory = []; // query strings. If this object literal exists, then the retrieved events must exist
    var existingSessions = []; // session strings

    var calendarEl = document.getElementById("calendar");
    var calendar;

    document.addEventListener('DOMContentLoaded', function() {
        {% if activity_type is none and (facility_id_list|count) == 0 %}
        // View all activities with no facility filter (showing a lot of sessions)
        var defaultViewCalendar = "timeGridDay";
        var availableViewsCalendar = "timeGridDay,listDay";
        {% elif activity_type is none and (facility_id_list|count) > 0 %}
        // View all activities with facility filter
        var defaultViewCalendar = "timeGridDay";
        var availableViewsCalendar = "timeGridWeek,timeGridDay,listWeek";
        {% else %}
        // In some specific activity page
        var defaultViewCalendar = "timeGridWeek";
        var availableViewsCalendar = "dayGridMonth,timeGridWeek,timeGridDay,listWeek";
        {% endif %}

        calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list' ],
            defaultView: defaultViewCalendar,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: availableViewsCalendar
            },
            buttonText: {
                today: 'Today',
                month: 'Month',
                week: 'Week',
                day: 'Day',
                list: 'List'
            },
            events: [],

            // ----- Styling ----- //
            eventTextColor: "#FFFFFF",
            eventBorderColor: "#000000",
            eventBackgroundColor: "#000000",

            // ----- Event Handlers ----- //
            // Click on an session
            eventClick: function(info) {
                // Show session info
                var modal = $('#bookingModal');
                modal.modal('show');

                $("#activityID").val(info.event.extendedProps.id);

                // Perform an ajax request to get all the session info
                $.ajax({
                    type : "POST",
                    url : "{{ url_for("activities.query_session") }}",
                    data: JSON.stringify(info.event.extendedProps),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(session) {
                        session = JSON.parse(session);

                        // need to flash a message (due to 300 or 404)
                        if (session.flash) {
                            document.location.href = session.redirect_route;
                        }

                        var modal = $('#bookingModal');
                        var sessionInfoList = modal.find("#sessionInfoList");

                        sessionInfoList.html(
                            "<li>Venue: " + info.event.extendedProps.facility_name + "</li>\n" +
                            "<li>Start time: " + info.event.start + "</li>\n" +
                            "<li>End time: " + info.event.end + "</li>\n" +
                            "<li>Minimum age: " + session.minimum_age + "</li>\n" +
                            "<li>Spaces left: " + session.spaces_left + "</li>\n" +
                            "<li>Price for one: £" + session.session_price + "</li>"
                        );
                        modal.find("#sessionNumPeopleSlider").attr("max", session.max_booking);
                        modal.find("#sessionPrice").val(session.session_price);
                        modal.find("#subtotal").html("<p>Subtotal: £" + session.subtotal + "</p>");

                        {% if User is defined and User is not none and User.__mapper_args__ ['polymorphic_identity'] == "Manager" %}
                        sessionInfoList.append(
                            "<li><b>Manager Info:</b></li>",
                            "<li>Total bookings: " + session.total_bookings + "</li>",
                            "<li>Income: " + session.activity_income + "</li>",
                            "<li>Cost: " + session.activity_cost + "</li>"
                        );
                        {% endif %}

                        if (session.membership_name !== undefined) {
                            modal.find("#membershipDisplay p").html(
                                session.membership_discount + "% Off discount applied for your " + session.membership_name + " membership."
                            );
                            modal.find("#membershipDiscount").val(session.membership_discount);
                        } else {
                            modal.find("#membershipDisplay").attr("hidden", "hidden");
                        }



                        var numWeeksAvailable = $("#regularSessionSelect");
                        numWeeksAvailable.html("<option>1</option>");
                        for (let i = 2; i <= session.num_weeks_available; i++) {
                            numWeeksAvailable.append("<option>" + i + "</option>");
                        }



                        $("#activitySubmit").attr("value", info.event.extendedProps.id);
                    },
                    error: function(jqXHR) {
                        alert("An error occurred. Perhaps the internet connection between you and the website's server is interrupted.");
                    }
                });

                modal.find(".modal-title").text("Book for " + info.event.title.split("\n")[0]);
            },

            // When a new set of dates has been rendered, query the info for uncached sessions, and put them into the calendar
            datesRender: function(info) {
                // add the responsive classes back
                $(".fc-toolbar").addClass("row no-gutters");
                $(".fc-left").addClass("col-12 col-md-4");
                $(".fc-center").addClass("col-12 col-md-4");
                $(".fc-right").addClass("col-12 col-md-4");

                let query = {
                    {% if activity_type is not none %}
                        activity_type_id: {{ activity_type.activity_type_id }},
                    {% endif %}
                    start_date: info.view.activeStart,
                    end_date: info.view.activeEnd
                };
                query = JSON.stringify(query);

                // check against cache
                if (!queryHistory.includes(query)) {
                    queryHistory.push(query);

                    $.ajax({
                        type : "POST",
                        url : "{{ url_for("activities.query_sessions") }}",
                        data: query,
                        contentType: 'application/json;charset=UTF-8',
                        success: function(results) {
                            results = JSON.parse(results);
                            for (let i = 0; i < results.length; i++) {
                                var session = {
                                    title: results[i].name + "\nVenue: " + results[i].facility_name,
                                    start: results[i].start,
                                    end: results[i].end,
                                    extendedProps: {
                                        id: results[i].id,
                                        facility_id: results[i].facility_id,
                                        facility_name: results[i].facility_name
                                    }
                                };
                                var sessionStr = JSON.stringify(session);

                                // if event doesn't exist in existingSessions, add to existingSessions and add to calendar
                                if (!existingSessions.includes(sessionStr)) {
                                    existingSessions.push(sessionStr);
                                    calendar.addEvent(session);
                                }
                            }
                        },
                        error: function(jqXHR) {
                            alert("An error occurred. Perhaps the internet connection between you and the website's server is interrupted.");
                        }
                    });
                }
            },

            // don't rerender everytime an event is added
            // TODO: Not sure how to use this
            batchRendering: function() {

            },

            // Called when an event (session) is rendered in the calendar
            eventRender: function(info) {
                const selectedFacilities = facilityFilter.select2('data');
                for (let i = 0; i < selectedFacilities.length; i++) {
                    if (info.event.extendedProps.facility_id === parseInt(selectedFacilities[i].id)) {
                        return true;
                    }
                }
                return selectedFacilities.length === 0; // render everything if no facility is selected
            }
        });

        calendar.render();

        $(".fc-toolbar").addClass("row no-gutters");
        $(".fc-left").addClass("col-12 col-md-4");
        $(".fc-center").addClass("col-12 col-md-4");
        $(".fc-right").addClass("col-12 col-md-4");



        // ----- Multi Selection Boxes ----- //
        // TODO: use jquery to find all ".filter" class (or some custom class), initialize all of them with select2
        var facilityFilter = $("#facilityFilter");
        facilityFilter.select2({
           placeholder: "Filter Facility",
           allowClear: true
        });

        // update calendar on change
        facilityFilter.on("change", function(e) {
            // Rerender (note: .render() is broken. It doesn't do anything after initialization), hence this workaround
            calendar.prev();
            calendar.next();
        });

        // preselect facility if it's supplied in the url
        facilityFilter.val({{ facility_id_list }});
        facilityFilter.trigger("change");
    });

    // ----- Add to basket button  ----- //
    $("#addToBasket").on("click", function(e) {
        $('#bookingModal').modal("hide");
    });

    // ----- Number of people slider  ----- //
    var slider = $("#sessionNumPeopleSlider");
    slider.val(1);
    slider.on("input change", function(e) {
        $("#sessionNumPeopleVal").html($(this).val());
        $("#amountOfPeopleSubmit").attr("value", $(this).val());
        // Also update the subtotal price   TODO: Bad #135
        $("#subtotal").html("<p>Subtotal: £" + $("#sessionPrice").val() * $(this).val() * (100-$("#membershipDiscount").val())/100 + "</p>");
    });

    // number of regular sessions selection box
    var regularSess = $("#regularSessionSelect");
    regularSess.on("change", function(e) {
        $("#numRegularSessionsSubmit").attr("value", $(this).val());
    });
</script>
{% endblock %}