/*The Vertex Global Styling*/
:root {
    --primary-color: #6505FF;
    --secondary-color: #b7b4c3;
    --light-color: #ffff;
    --medium-color: #bebdc3;
    --dark-color: #272727;
    --neutral-color: grey;
    --min-body-height: 86.5vh;
    --content-spacer: 5vh;
    --half-content-spacer: 2vh;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--light-color);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6, .navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.spacer {
    position: relative;
    width: 100%;
    height: 0.1rem;
    margin: auto;
    background-color: #ebebeb;
}

.content-container {
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    border-color: white;
    padding: var(--content-spacer);
    margin-bottom: 3vh;
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .content-container {
        background-color: white;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

/*Bootstrap classes customisation*/

.navbar-light {
    background-color: white !important;
}

.card {
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 20px 0px rgba(232,232,232,1);
    border-color: white;
}

.btn {
    border-radius: 0;
}

.btn-primary, .btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary, .btn-secondary:hover {
    background-color: var(--neutral-color);
    border-color: var(--neutral-color);
}

.btn-danger, .btn-danger:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0;
    margin: 0 0 0 0;
}

.alert-success {
    color: white;
    background-color: var(--primary-color)
}

.alert .close {
    color: white;
}

.list-group {
    padding: 0;
}

.list-group-item {
    border: 0;
    padding: 1.5rem 2.5rem;
}

.media {
    width: 90%;
    margin: auto;
    margin-bottom: var(--content-spacer);
    background-color: var(--light-color);
}

.media p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.media img {
    width: 35%;
    height: 30vh;
    margin: 5%;
    object-fit: cover;
}

.media-body {
    width: 30%;
    height: 30vh;
    margin: 5% 5%;
}

.media-body+img {
    margin-left: 0;
}

img+.media-body {
    margin-left: 0;
}