{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex Test!
{% endblock %}

{% block main_content %}
<h1>Test page</h1>
<br>
    <h2>Functions:</h2>

{% endblock %}
