#main-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.carousel {
    height: 75vh;
    background: #6505ff;
    background: linear-gradient(90deg,#6505ff 0%, #6505ff 80%);
    background: -webkit-linear-gradient(90deg,#6505ff 0%, #6505ff 80%);
    background: -moz-linear-gradient(90deg,#6505ff 0%, #6505ff 80%);
    z-index: 1;
}

.carousel-item {
    width: 100%;
    height: 75vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.carousel-inner > .item {
    transition: 1s ease-in-out left;
}

#caption {
    width: 100%;
    align-items: center;
}

#carousel-btn-container {
    align-items: center;
}

#introduction {
    position: relative;
    margin-top: -30vh;
    z-index: 2;
    /*-webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);*/
    /*-moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);*/
    /*box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);*/
    margin-bottom: 0;
}

#introduction h1 {
    /*width: 80%;*/
    /*margin: auto;*/
    text-align: center;
    padding: 5vh 0;
}

.intro-text {
    width: 80%;
    margin: auto;
    text-align: center;
}

.more_about {
    max-width: 40%;
    margin: auto;
    margin-top: var(--content-spacer);
    margin-bottom: var(--content-spacer);
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
}

.more_about h2 {
    padding: 2vh;
    font-size: 1rem;
    color: white;
}

a:hover {
    text-decoration: none;
}

.card {
    padding: 0;
    margin-bottom: var(--content-spacer) !important;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    box-shadow: 0px 0px 20px 0px rgba(232,232,232,0);
    /*background-color: var(--medium-color);*/
}

.card-header {
    border: none;
    background-color: var(--light-color);
    text-align: center;
}

.card-img-top {
    width: 90%;
    height: 20vh;
    margin: auto;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-body p {
    margin: 0;
}

.media .more_about, .card .more_about {
    width: 80%;
    margin: 0;
    margin-top: 1rem;
}

.media {
    position: relative;
    margin-bottom: 0;
}

#more_visit {
    width: 90%;
    margin: auto;
    margin-top: var(--content-spacer);
    margin-bottom: var(--content-spacer);
    text-align: center;
}

#more_visit img {
    width: 70%;
    object-fit: cover;
}

.media .more_about {
    position: absolute;
    width: 30vw;
    bottom: calc(var(--content-spacer) + 2vh);
}

.media .more_about h2 {
    margin-bottom: 0;
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .intro-text {
        width: 100%;
    }

    .more_about {
        width: 90%;
        margin: auto;
        margin-top: var(--content-spacer);
        margin-bottom: var(--content-spacer);
        background-color: var(--primary-color);
        text-align: center;
        text-decoration: none;
    }

    .card .more_about {
        margin: auto;
        margin-top: var(--half-content-spacer);
    }

    #more_visit img {
        margin-top: 2vh;
        width: 90%;
        object-fit: cover;
    }
}