
#title-bar {
    margin: var(--content-spacer) 0;
}

.card {
    height: 20.5vh;
    margin-bottom: 3vh;
    padding: 2vh 0;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit;
}

.img {
    display: block;
    float: left;
    width: 30%;
    padding: 4vh 2vh 2vh 2vh;
}

.img i {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.content {
    display: block;
    float: left;
    width: 65%;
    padding: 0;
    margin: 0;
}

.card, .media {
    background-color: var(--dark-color);
    color: white;
}

.content h2 {
    padding: 2vh 0 0 0;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}