.container-fluid {
    padding: 0;
}

#sidebar .nav-link p {
    position: relative;
    bottom: 0.2rem;
}

#sidebar .nav-link:hover {
    transition: 0.3s;
    background-color: var(--dark-color);
}

#page-title {
    margin-bottom: 0;
}

#page-content-wrapper {
    padding: 0 2.5% 3vh;
}

aside {
    padding: 0;
    margin: 0;
    color: #F2F2F2;
    background-color: #1E1E1E;
    overflow-x: scroll;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

aside p {
    display: none;
}

#list-title {
    display: none;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-expand .navbar-nav .nav-link {
    padding: 0.8rem 1rem;
    }

    aside {
        min-height: var(--min-body-height);
        overflow-x: auto;
    }

    aside p {
        display: inline;
    }

    aside ul {
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: 0;
    }

    aside li i {
        width: 30%;
        padding-right: 1vw;
        text-align: center;
    }

    #list-title {
        display: inline;
        padding: 1.2rem 1rem 1.2rem 1.5rem;
    }
}

aside a, aside a:hover {
    color: #F2F2F2;
    text-decoration: none;
}

.selected_nav_link {
    color: #1E1E1E;
    background-color: #F2F2F2;
}

#title-bar {
    margin: 2vh 0;
    height: 10vh;

}

#title-bar h1 {
    min-width: 20vw;
    height: 8vh;
    float: left;
    margin: 1vh 0 1vh 0;
}

#title-bar p {
 display: flex;
    height: inherit;
    padding: .25em .8em;
    min-width: 10vw;
    float: right;
    font-size: inherit;
    border-radius: 0.3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

th {
    color: #F2F2F2;
    background-color: var(--dark-color);
}

label {
    padding-top: 6px;
    font-weight: bold;
}

form h2 {
    margin-bottom: 1vh;
    font-size: 1.5rem;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    color: var(--medium-color);
    bottom: .5em;
}

#personal_details_row {
    margin-bottom: 3vh;
}

#submit_btn, #cancel_btn {
    display: none;
    margin-top: 3vh;
}

#cancel_btn {
    display: none;
    margin-left: 1vw;
}

#delete_btn {
   margin-left: 1vw;
}