.row {
    max-width: 100%;
    min-height: var(--min-body-height);
    margin: 0;
}

.content-container {
    margin-bottom: 0;
}

#summary {
    background-color: var(--dark-color);
    color: white;
}

.submit_btn{
    display: none;
    margin-top: 1vh;
}

.cancel_btn  {
    display: none;
    margin-top: 1vh;
}

.edit_btn {
    margin-top: 1vh;
}

.delete_btn {
    margin-top: 1vh;
}

.spacer {
    background-color: var(--medium-color);
    height: 0.03rem;
    margin-bottom: var(--half-content-spacer);
}

.form-control-plaintext {
    padding: 0;
}

.form-control {
    margin-top: -7px;
}

#empty-basket-box {
    margin-top: var(--content-spacer);
}


@media (min-width: 768px) {

    #empty-basket-box {
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2.5rem;
    }
}