body {
    background-image: url("/static/imgs/facility-img/facility2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background-overlay {
    min-height: var(--min-body-height);
    background-color: rgba(101,5,255, 0.7);
}

#login-container {
    position: absolute;
    background-color: white;
    margin-top: 15vh;
    padding: var(--content-spacer);
    height: 60vh;
}

#login-container h1 {
    color: #1E1E1E;
}

#login-icon img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 77px;
    height: 77px;
}

#login-container input[type="email"], input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5BBDC8;
    outline: none;
    height: 30px;
}

#login-container input[type="submit"] {
    border: none;
    border-radius: 20px;
    background: #5BBDC8;
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

#register-link {
    padding-top: 8px;
    padding-bottom: 10px;
}

#login-container a {
    color: #1E1E1E;
    margin: 0;
    font-size: 15px;
}