body {
    background-image: url("/static/imgs/facility-img/facility2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background-overlay {
    background-color: rgba(101,5,255, 0.7);
}

#register-container {
    padding: var(--content-spacer);
    margin-top: var(--content-spacer);
    margin-bottom: var(--content-spacer);
}

h2 {
    width: 100%;
    margin-bottom: var(--content-spacer);
    text-align: center;
}

.spacer {
    margin: var(--content-spacer) 0;
}

#register-container input:not(.btn) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5BBDC8;
    outline: none;
    margin-bottom: var(--half-content-spacer);
}

form .btn {
    margin: auto;
}

@media (min-width: 768px) {
    #register-container {
        margin: var(--content-spacer);
    }
}